In [1]:
import os

os.chdir("../..")
os.getcwd()

'/home/INTEXSOFT/maksim.stupakevich/work/ds_practice'

In [2]:
import numpy as np
import pandas as pd
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv("data/enzyme/train.csv", index_col="seq_id")

In [4]:
updated_df = pd.read_csv("data/enzyme/train_updates_20220929.csv", index_col="seq_id")

In [5]:
updated_df = updated_df.drop(["data_source"], axis=1).dropna()

In [6]:
df.update(updated_df)

In [7]:
df.drop(["data_source"], axis=1, inplace=True)

In [8]:
df.head()

                                         protein_sequence   pH    tm
seq_id
0       AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...  7.0  75.7
1       AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...  7.0  50.5
2       AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...  7.0  40.5
3       AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...  7.0  47.2
4       AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...  7.0  49.5

In [9]:
df = df[df["protein_sequence"].str.len() < 500].reset_index(drop=True)

In [10]:
31246 * 20 * 2600

1624792000

In [11]:
df.head()

                                    protein_sequence   pH    tm
0  AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...  7.0  75.7
1  AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...  7.0  50.5
2  AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...  7.0  40.5
3  AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...  7.0  47.2
4  AACFWRRTVIPKPPFRGISTTSARSTVMPAWVIDKYGKNEVLRFTQ...  7.0  48.4

### Chars

In [12]:
chars = []

In [13]:
df["protein_sequence"].apply(set).apply(
    lambda x: [chars.append(el) for el in x if el not in chars]
);

In [14]:
chars = sorted(chars)

In [15]:
print(chars)

['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y']

### Encoding

In [16]:
encoding = pd.get_dummies(chars)

In [17]:
encoding

    A  C  D  E  F  G  H  I  K  L  M  N  P  Q  R  S  T  V  W  Y
0   1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1   0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
2   0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
3   0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
4   0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
5   0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0
6   0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0
7   0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0
8   0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0
9   0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0
10  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0
11  0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0
12  0  0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0
13  0  0  0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0
14  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0
15  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0
16  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  0  0  0
17  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  0  0
18  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  0
19  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1

In [18]:
chars_df = pd.DataFrame(df["protein_sequence"].apply(list).tolist())

In [19]:
df.shape

(22903, 3)

In [20]:
chars_df.head()

,0,1,2,3,4,5,6,7,8,9,...,489,490,491,492,493,494,495,496,497,498
0,A,A,A,A,K,A,A,A,L,A,...,None,None,None,None,None,None,None,None,None,None
1,A,A,A,D,G,E,P,L,H,N,...,None,None,None,None,None,None,None,None,None,None
2,A,A,A,F,S,T,P,R,A,T,...,I,S,K,I,K,S,M,F,None,None
3,A,A,A,S,G,L,R,T,A,I,...,None,None,None,None,None,None,None,None,None,None
4,A,A,C,F,W,R,R,T,V,I,...,None,None,None,None,None,None,None,None,None,None

In [21]:
chars_df.shape

(22903, 499)

In [22]:
encoding["nan"] = 0

In [23]:
encoding = encoding.apply(lambda x: x.apply(bool), axis=1)

In [24]:
def encode_char(char):
    if not char:
        char = "nan"
    return encoding[char].tolist()


def encode_row(row):
    return pd.Series(row.apply(encode_char).tolist())

In [25]:
multiindex = np.hstack(
    np.array(
        [
            np.linspace(
                0, chars_df.shape[1], len(chars) * chars_df.shape[1], dtype=int, endpoint=False
            ).reshape(-1, 1),
            np.array(chars * chars_df.shape[1]).reshape(-1, 1),
        ]
    )
)

In [26]:
multiindex.shape

(9980, 2)

In [27]:
multiindex

array([['0', 'A'],
       ['0', 'C'],
       ['0', 'D'],
       ...,
       ['498', 'V'],
       ['498', 'W'],
       ['498', 'Y']], dtype='<U21')

In [28]:
%%time
encoded_df = chars_df.apply(encode_row, axis=1)

CPU times: user 55.2 s, sys: 1.06 s, total: 56.3 s
Wall time: 56.2 s

In [29]:
%%time
encoded_df = pd.concat(
    (
        [
            pd.DataFrame(encoded_df.pop(col).tolist()).add_prefix(f"number_{col}_")
            for col in encoded_df.columns
        ]
    ),
    axis=1,
)

CPU times: user 20 s, sys: 217 ms, total: 20.3 s
Wall time: 20.3 s

In [30]:
%%time
encoded_df = pd.DataFrame(encoded_df.values, columns=multiindex)

CPU times: user 81.4 ms, sys: 56.1 ms, total: 137 ms
Wall time: 137 ms

In [31]:
%%time
encoded_df.columns = pd.MultiIndex.from_tuples(
    encoded_df.columns, names=["Number", "Char"]
)

CPU times: user 2.93 ms, sys: 3.95 ms, total: 6.88 ms
Wall time: 5.36 ms

In [32]:
encoded_df

Number      0                                                                 \
Char        A      C      D      E      F      G      H      I      K      L
0        True  False  False  False  False  False  False  False  False  False
1        True  False  False  False  False  False  False  False  False  False
2        True  False  False  False  False  False  False  False  False  False
3        True  False  False  False  False  False  False  False  False  False
4        True  False  False  False  False  False  False  False  False  False
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
22898   False  False  False  False  False  False  False  False  False  False
22899   False  False  False  False  False  False  False  False  False  False
22900   False  False  False  False  False  False  False  False  False  False
22901   False  False  False  False  False  False  False  False  False  False
22902   False  False  False  False  False  False  False  False  False  False

Number  ...    498                                                          \
Char    ...      M      N      P      Q      R      S      T      V      W
0       ...  False  False  False  False  False  False  False  False  False
1       ...  False  False  False  False  False  False  False  False  False
2       ...  False  False  False  False  False  False  False  False  False
3       ...  False  False  False  False  False  False  False  False  False
4       ...  False  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
22898   ...  False  False  False  False  False  False  False  False  False
22899   ...  False  False  False  False  False  False  False  False  False
22900   ...  False  False  False  False  False  False  False  False  False
22901   ...  False  False  False  False  False  False  False  False  False
22902   ...  False  False  False  False  False  False  False  False  False

Number
Char        Y
0       False
1       False
2       False
3       False
4       False
...       ...
22898   False
22899   False
22900   False
22901   False
22902   False

[22903 rows x 9980 columns]

In [33]:
encoded_df.to_pickle("data/enzyme/encoded_df.pkl")

### Making train dataframe

In [34]:
encoded_df = pd.read_pickle("data/enzyme/encoded_df.pkl")

In [35]:
encoded_df

Number      0                                                                 \
Char        A      C      D      E      F      G      H      I      K      L
0        True  False  False  False  False  False  False  False  False  False
1        True  False  False  False  False  False  False  False  False  False
2        True  False  False  False  False  False  False  False  False  False
3        True  False  False  False  False  False  False  False  False  False
4        True  False  False  False  False  False  False  False  False  False
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
22898   False  False  False  False  False  False  False  False  False  False
22899   False  False  False  False  False  False  False  False  False  False
22900   False  False  False  False  False  False  False  False  False  False
22901   False  False  False  False  False  False  False  False  False  False
22902   False  False  False  False  False  False  False  False  False  False

Number  ...    498                                                          \
Char    ...      M      N      P      Q      R      S      T      V      W
0       ...  False  False  False  False  False  False  False  False  False
1       ...  False  False  False  False  False  False  False  False  False
2       ...  False  False  False  False  False  False  False  False  False
3       ...  False  False  False  False  False  False  False  False  False
4       ...  False  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
22898   ...  False  False  False  False  False  False  False  False  False
22899   ...  False  False  False  False  False  False  False  False  False
22900   ...  False  False  False  False  False  False  False  False  False
22901   ...  False  False  False  False  False  False  False  False  False
22902   ...  False  False  False  False  False  False  False  False  False

Number
Char        Y
0       False
1       False
2       False
3       False
4       False
...       ...
22898   False
22899   False
22900   False
22901   False
22902   False

[22903 rows x 9980 columns]

In [36]:
df

                                        protein_sequence   pH    tm
0      AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...  7.0  75.7
1      AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...  7.0  50.5
2      AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...  7.0  40.5
3      AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...  7.0  47.2
4      AACFWRRTVIPKPPFRGISTTSARSTVMPAWVIDKYGKNEVLRFTQ...  7.0  48.4
...                                                  ...  ...   ...
22898  YWFPAEEMRTRNNVNNCFKKPAFANLLRFPQLYPFLCRADFIKVAA...  7.0  48.6
22899  YYAYVVELCVSTISRTGEKGKTVVYLVAFHLFFVMFVWSYWMTIFT...  7.0  49.4
22900  YYLWHKAASTVASIHESIDKSKKRDKEVSINKKDPFSVLIMGVDER...  7.0  42.1
22901  YYNDQHRLSSYSVETAMFLSWERAIVKPGAMFKKAVIGFNCNVDLI...  7.0  37.2
22902  YYQRTLGAELLYKISFGEMPKSAQDSAENCPSGMQFPDTAIAHANV...  7.0  64.6

[22903 rows x 3 columns]

In [37]:
train_df = pd.concat([df[["pH", "tm"]], encoded_df], axis=1)

In [38]:
train_df.dropna(inplace=True)

In [39]:
train_df

,pH,tm,"(0, A)","(0, C)","(0, D)","(0, E)","(0, F)","(0, G)","(0, H)","(0, I)",...,"(498, M)","(498, N)","(498, P)","(498, Q)","(498, R)","(498, S)","(498, T)","(498, V)","(498, W)","(498, Y)"
0,7.0,75.7,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,7.0,50.5,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,7.0,40.5,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,7.0,47.2,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,7.0,48.4,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22898,7.0,48.6,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22899,7.0,49.4,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22900,7.0,42.1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22901,7.0,37.2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22902,7.0,64.6,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### Feature engineering

In [40]:
train_df["acid"] = train_df["pH"].apply(lambda x: True if x < 7 else False)
train_df["neutral"] = train_df["pH"].apply(lambda x: True if x == 7 else False)
train_df["base"] = train_df["pH"].apply(lambda x: True if x > 7 else False)

In [41]:
train_df

,pH,tm,"(0, A)","(0, C)","(0, D)","(0, E)","(0, F)","(0, G)","(0, H)","(0, I)",...,"(498, Q)","(498, R)","(498, S)","(498, T)","(498, V)","(498, W)","(498, Y)",acid,neutral,base
0,7.0,75.7,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,7.0,50.5,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,7.0,40.5,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,7.0,47.2,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,7.0,48.4,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22898,7.0,48.6,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22899,7.0,49.4,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22900,7.0,42.1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22901,7.0,37.2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22902,7.0,64.6,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [42]:
y = train_df[["tm"]]

In [43]:
X = pd.DataFrame(train_df.drop(["tm"], axis=1))

In [44]:
X

,pH,"(0, A)","(0, C)","(0, D)","(0, E)","(0, F)","(0, G)","(0, H)","(0, I)","(0, K)",...,"(498, Q)","(498, R)","(498, S)","(498, T)","(498, V)","(498, W)","(498, Y)",acid,neutral,base
0,7.0,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,7.0,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,7.0,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,7.0,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,7.0,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22898,7.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22899,7.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22900,7.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22901,7.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22902,7.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [45]:
y

         tm
0      75.7
1      50.5
2      40.5
3      47.2
4      48.4
...     ...
22898  48.6
22899  49.4
22900  42.1
22901  37.2
22902  64.6

[22630 rows x 1 columns]

In [46]:
ph_scaler = StandardScaler()

In [47]:
ph_scaler.fit(X[["pH"]])

StandardScaler()

In [48]:
X["pH"] = ph_scaler.transform(X[["pH"]])

In [49]:
tm_scaler = StandardScaler()

In [50]:
tm_scaler.fit(y[["tm"]])

StandardScaler()

In [51]:
y["tm"] = tm_scaler.transform(y[["tm"]])

/tmp/ipykernel_473602/905645609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y["tm"] = tm_scaler.transform(y[["tm"]])

In [52]:
X

,pH,"(0, A)","(0, C)","(0, D)","(0, E)","(0, F)","(0, G)","(0, H)","(0, I)","(0, K)",...,"(498, Q)","(498, R)","(498, S)","(498, T)","(498, V)","(498, W)","(498, Y)",acid,neutral,base
0,0.165343,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,0.165343,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,0.165343,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,0.165343,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,0.165343,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22898,0.165343,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22899,0.165343,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22900,0.165343,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22901,0.165343,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
22902,0.165343,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [53]:
y

             tm
0      1.726902
1      0.051868
2     -0.612828
3     -0.167482
4     -0.087718
...         ...
22898 -0.074424
22899 -0.021249
22900 -0.506477
22901 -0.832177
22902  0.989089

[22630 rows x 1 columns]

### train/test split

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [55]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((18104, 9984), (4526, 9984), (18104, 1), (4526, 1))

### Preparing model

#### Linear regression

In [56]:
lr_model = LinearRegression()

In [57]:
%%time
lr_model.fit(X_train, y_train)

/home/INTEXSOFT/maksim.stupakevich/.pyenv/versions/3.9.12/envs/ds_practice/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(

CPU times: user 48min 15s, sys: 8min 42s, total: 56min 58s
Wall time: 5min 12s

LinearRegression()

In [58]:
y_pred = lr_model.predict(X_test)

/home/INTEXSOFT/maksim.stupakevich/.pyenv/versions/3.9.12/envs/ds_practice/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(

In [60]:
stats.spearmanr(y_pred, y_test)

SpearmanrResult(correlation=0.2685958234644911, pvalue=1.2167555722185673e-75)

#### RNN model

In [3]:
!pip show scikit-learn

Name: scikit-learn
Version: 1.1.1
Summary: A set of python modules for machine learning and data mining
Home-page: http://scikit-learn.org
Author:
Author-email:
License: new BSD
Location: /home/INTEXSOFT/maksim.stupakevich/.pyenv/versions/3.9.12/envs/ds_practice/lib/python3.9/site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by: sklearn

In [174]:
test_df = pd.read_csv("data/enzyme/test.csv", index_col="seq_id")

In [175]:
test_df.drop(["data_source"], axis=1, inplace=True)

In [176]:
test_df.head()

                                         protein_sequence  pH
seq_id
31390   VPVNPEPDATSVENVAEKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8
31391   VPVNPEPDATSVENVAKKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8
31392   VPVNPEPDATSVENVAKTGSGDSQSDPIKADLEVKGQSALPFDVDC...   8
31393   VPVNPEPDATSVENVALCTGSGDSQSDPIKADLEVKGQSALPFDVD...   8
31394   VPVNPEPDATSVENVALFTGSGDSQSDPIKADLEVKGQSALPFDVD...   8

In [130]:
test_df["protein_sequence"].str.len()

seq_id
31390    221
31391    221
31392    220
31393    221
31394    221
        ...
33798    221
33799    221
33800    221
33801    221
33802    221
Name: protein_sequence, Length: 2413, dtype: int64

In [131]:
print(chars)

['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y']

### Encoding

In [132]:
encoding = pd.get_dummies(chars)

In [133]:
test_chars_df = pd.DataFrame(test_df["protein_sequence"].apply(list).tolist())

In [134]:
df.shape

(22903, 3)

In [135]:
for i in range(221, 499):
    test_chars_df[i] = None

In [136]:
test_chars_df.shape

(2413, 499)

In [137]:
encoding["nan"] = 0

In [138]:
encoding = encoding.apply(lambda x: x.apply(bool), axis=1)

In [139]:
def encode_char(char):
    if not char:
        char = "nan"
    return encoding[char].tolist()


def encode_row(row):
    return pd.Series(row.apply(encode_char).tolist())

In [140]:
multiindex = np.hstack(
    np.array(
        [
            np.linspace(
                0, chars_df.shape[1], len(chars) * chars_df.shape[1], dtype=int, endpoint=False
            ).reshape(-1, 1),
            np.array(chars * chars_df.shape[1]).reshape(-1, 1),
        ]
    )
)

In [141]:
multiindex.shape

(9980, 2)

In [142]:
multiindex

array([['0', 'A'],
       ['0', 'C'],
       ['0', 'D'],
       ...,
       ['498', 'V'],
       ['498', 'W'],
       ['498', 'Y']], dtype='<U21')

In [143]:
%%time
encoded_df = test_chars_df.apply(encode_row, axis=1)

CPU times: user 6.11 s, sys: 22 ms, total: 6.13 s
Wall time: 6.13 s

In [144]:
%%time
encoded_df = pd.concat(
    (
        [
            pd.DataFrame(encoded_df.pop(col).tolist()).add_prefix(f"number_{col}_")
            for col in encoded_df.columns
        ]
    ),
    axis=1,
)

CPU times: user 3.45 s, sys: 12.8 ms, total: 3.46 s
Wall time: 3.47 s

In [145]:
%%time
encoded_df = pd.DataFrame(encoded_df.values, columns=multiindex)

CPU times: user 39.9 ms, sys: 0 ns, total: 39.9 ms
Wall time: 38 ms

In [146]:
%%time
encoded_df.columns = pd.MultiIndex.from_tuples(
    encoded_df.columns, names=["Number", "Char"]
)

CPU times: user 2.47 ms, sys: 3.38 ms, total: 5.86 ms
Wall time: 5.13 ms

In [147]:
encoded_df

Number      0                                                                 \
Char        A      C      D      E      F      G      H      I      K      L
0       False  False  False  False  False  False  False  False  False  False
1       False  False  False  False  False  False  False  False  False  False
2       False  False  False  False  False  False  False  False  False  False
3       False  False  False  False  False  False  False  False  False  False
4       False  False  False  False  False  False  False  False  False  False
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
2408    False  False  False  False  False  False  False  False  False  False
2409    False  False  False  False  False  False  False  False  False  False
2410    False  False  False  False  False  False  False  False  False  False
2411    False  False  False  False  False  False  False  False  False  False
2412    False  False  False  False  False  False  False  False  False  False

Number  ...    498                                                          \
Char    ...      M      N      P      Q      R      S      T      V      W
0       ...  False  False  False  False  False  False  False  False  False
1       ...  False  False  False  False  False  False  False  False  False
2       ...  False  False  False  False  False  False  False  False  False
3       ...  False  False  False  False  False  False  False  False  False
4       ...  False  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
2408    ...  False  False  False  False  False  False  False  False  False
2409    ...  False  False  False  False  False  False  False  False  False
2410    ...  False  False  False  False  False  False  False  False  False
2411    ...  False  False  False  False  False  False  False  False  False
2412    ...  False  False  False  False  False  False  False  False  False

Number
Char        Y
0       False
1       False
2       False
3       False
4       False
...       ...
2408    False
2409    False
2410    False
2411    False
2412    False

[2413 rows x 9980 columns]

In [148]:
encoded_df.to_pickle("data/enzyme/encoded_test_df.pkl")

In [149]:
encoded_df = pd.read_pickle("data/enzyme/encoded_test_df.pkl")

In [177]:
encoded_df

Number      0                                                                 \
Char        A      C      D      E      F      G      H      I      K      L
seq_id
31390   False  False  False  False  False  False  False  False  False  False
31391   False  False  False  False  False  False  False  False  False  False
31392   False  False  False  False  False  False  False  False  False  False
31393   False  False  False  False  False  False  False  False  False  False
31394   False  False  False  False  False  False  False  False  False  False
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
33798   False  False  False  False  False  False  False  False  False  False
33799   False  False  False  False  False  False  False  False  False  False
33800   False  False  False  False  False  False  False  False  False  False
33801   False  False  False  False  False  False  False  False  False  False
33802   False  False  False  False  False  False  False  False  False  False

Number  ...    498                                                          \
Char    ...      M      N      P      Q      R      S      T      V      W
seq_id  ...
31390   ...  False  False  False  False  False  False  False  False  False
31391   ...  False  False  False  False  False  False  False  False  False
31392   ...  False  False  False  False  False  False  False  False  False
31393   ...  False  False  False  False  False  False  False  False  False
31394   ...  False  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
33798   ...  False  False  False  False  False  False  False  False  False
33799   ...  False  False  False  False  False  False  False  False  False
33800   ...  False  False  False  False  False  False  False  False  False
33801   ...  False  False  False  False  False  False  False  False  False
33802   ...  False  False  False  False  False  False  False  False  False

Number
Char        Y
seq_id
31390   False
31391   False
31392   False
31393   False
31394   False
...       ...
33798   False
33799   False
33800   False
33801   False
33802   False

[2413 rows x 9980 columns]

In [178]:
test_df

                                         protein_sequence  pH
seq_id
31390   VPVNPEPDATSVENVAEKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8
31391   VPVNPEPDATSVENVAKKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8
31392   VPVNPEPDATSVENVAKTGSGDSQSDPIKADLEVKGQSALPFDVDC...   8
31393   VPVNPEPDATSVENVALCTGSGDSQSDPIKADLEVKGQSALPFDVD...   8
31394   VPVNPEPDATSVENVALFTGSGDSQSDPIKADLEVKGQSALPFDVD...   8
...                                                   ...  ..
33798   VPVNPEPDATSVENVILKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8
33799   VPVNPEPDATSVENVLLKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8
33800   VPVNPEPDATSVENVNLKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8
33801   VPVNPEPDATSVENVPLKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8
33802   VPVNPEPDATSVENVWLKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8

[2413 rows x 2 columns]

In [179]:
encoded_df = encoded_df.set_index(test_df.index)

In [180]:
X = pd.concat([test_df[["pH"]], encoded_df], axis=1)

In [181]:
X.dropna(inplace=True)

In [182]:
X

,pH,"(0, A)","(0, C)","(0, D)","(0, E)","(0, F)","(0, G)","(0, H)","(0, I)","(0, K)",...,"(498, M)","(498, N)","(498, P)","(498, Q)","(498, R)","(498, S)","(498, T)","(498, V)","(498, W)","(498, Y)"
seq_id,,,,,,,,,,,,,,,,,,,,,
31390,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31391,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31392,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31393,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31394,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33798,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33799,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33800,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33801,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33802,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### Feature engineering

In [183]:
X["acid"] = X["pH"].apply(lambda x: True if x < 7 else False)
X["neutral"] = X["pH"].apply(lambda x: True if x == 7 else False)
X["base"] = X["pH"].apply(lambda x: True if x > 7 else False)

In [184]:
X

,pH,"(0, A)","(0, C)","(0, D)","(0, E)","(0, F)","(0, G)","(0, H)","(0, I)","(0, K)",...,"(498, Q)","(498, R)","(498, S)","(498, T)","(498, V)","(498, W)","(498, Y)",acid,neutral,base
seq_id,,,,,,,,,,,,,,,,,,,,,
31390,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
31391,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
31392,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
31393,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
31394,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33798,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
33799,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
33800,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
33801,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
33802,8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [185]:
X["pH"] = ph_scaler.transform(X[["pH"]])

In [186]:
X

,pH,"(0, A)","(0, C)","(0, D)","(0, E)","(0, F)","(0, G)","(0, H)","(0, I)","(0, K)",...,"(498, Q)","(498, R)","(498, S)","(498, T)","(498, V)","(498, W)","(498, Y)",acid,neutral,base
seq_id,,,,,,,,,,,,,,,,,,,,,
31390,0.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
31391,0.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
31392,0.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
31393,0.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
31394,0.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33798,0.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
33799,0.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
33800,0.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
33801,0.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
33802,0.0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [187]:
y_pred = lr_model.predict(X)

/home/INTEXSOFT/maksim.stupakevich/.pyenv/versions/3.9.12/envs/ds_practice/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(

In [188]:
y_pred

array([[-1.51928711],
       [-1.60021973],
       [ 0.34631348],
       ...,
       [-1.49255371],
       [-1.46630859],
       [-1.58154297]])

In [193]:
submission = pd.DataFrame(tm_scaler.inverse_transform(y_pred)).set_index(test_df.index).rename(columns={0: "tm"})

In [194]:
submission

               tm
seq_id
31390   26.862796
31391   25.645208
31392   54.929777
31393   27.569843
31394   29.332867
...           ...
33798   27.013388
33799   27.020734
33800   27.264986
33801   27.659830
33802   25.926190

[2413 rows x 1 columns]

In [195]:
submission.to_csv("data/enzyme/submission.csv")